language: php

sudo: false

services:
- postgresql

cache:
  yarn: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.npm"

env:
  global:
  - TRAVIS_NODE_VERSION=8.9.4
  - COVERAGE=no
  - APP_ENV=test
  - DATABASE_URL=pgsql://postgres@localhost:5432/paroki

matrix:
  include:
  - php: '7.1'
  - php: '7.2'
  - php: '7.2'
    env: COVERAGE=yes
  - php: '7.2'
    env: DATABASE_URL=mysql://root@localhost:3306/paroki
  - php: 7.2.3
    env: DEPLOY=yes
    deploy:
      provider: heroku
      api_key:
        secure: lYzQaXfvVmfyXH5TbjSipjCZ9OQbjOAX97ulxfCak4mDDMwlJacZmqrd1QEdf31K8n+jlz7qojkCZHKDL/Mp8Gh/HjzOmWg10terp3VuofmP1QJHadtxA/XNra+7Gh+YtJZY8T78OnrrYEgsZboIXUw3avqbnoGhVOctmPHOfnbHpOFQy/DRwALXIGAEa+nZX5MbEIiDVlHhMm1D63WovjsAkLnu3G3jN/H0TI0KSrsBlaNlJ55g1aDCud9BXJ7s2eObFPvwNiytaB9GKumXzjytSV6Svzrw03mUewikGF3P7eDctAz0xvsWPBysPzK2dpUOfaL4jq3kQoD3EX/2FY3PQze+e17CTszV04ABBZ4zRK6LElHEHCp29ppWYACY4d2Zdc2+lnC34WEYGH2aMSWnMT8SeVP+HctTrhCgCgenIcrpOW43owVwDEZEEATGuxSZcjHTQkkfJVK4sIgKyeHpcXSatMLFameMJD7OzmqA6PMsEJHVbOFnaUhHMioptZ8ONZf8v7jF2A+TabbfgMMa60NBgBQnNUUg3ru/lHFuABVPYEo+bjNnEo+yMi9P9d107gm8i1VMFp+/nV4SLVdrScidxBtt7M8TEsQW8wv8zUQDzqaQA7xlRLn48xaYadpSHMwfByefbyp8JJpdEtUhrhRlO4nRgKFbr6/0SsQ=
      app: paroki-dev
      on:
        all_branches: true

  allow_failures:
  - php: '7.2'
    env: COVERAGE=yes
  - php: 7.2.3
    env: DEPLOY=yes

  fast_finish: true

before_install:
- echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- export PATH="$PATH:$HOME/.composer/vendor/bin"
- |
  if [[ $COVERAGE != yes ]]; then
    phpenv config-rm xdebug.ini || echo "xdebug not available";
  fi;
- |
  if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.1" ]]; then
    echo yes | pecl install apcu;
  else
    echo "extension = apcu.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini;
  fi;
- sudo apt-get -y install software-properties-common python-software-properties
- sudo -E apt-add-repository -y "ppa:ubuntu-toolchain-r/test"
- sudo apt update -y
- sudo apt-get -yq --no-install-suggests --no-install-recommends --force-yes install
  g++-4.9
- export CC=gcc-4.9
- export CXX=g++-4.9
- mkdir -p build/coverage/php

install:
- composer update --prefer-dist --no-progress --no-suggest --ansi
- bin/console doctrine:database:create -n --if-not-exists
- bin/console doctrine:schema:create -n
- yarn install
- yarn dev

script:
- mkdir -p build/logs
- |
  if [[ $COVERAGE = yes  ]]; then
    ./vendor/bin/phpspec run --ansi -c etc/phpspec-coverage.yml;
    ./vendor/bin/simple-phpunit --coverage-php=build/coverage/php/phpunit.cov;
    ./vendor/bin/behat -p coverage;
    yarn test --coverage
  fi;
- if [[ $COVERAGE != yes ]]; then bin/phpunit; fi
- if [[ $COVERAGE != yes ]]; then ./vendor/bin/phpspec run -fdot; fi
- if [[ $COVERAGE != yes ]]; then ./vendor/bin/behat -fprogress; fi
- if [[ $COVERAGE != yes ]]; then yarn test; fi

after_script:
- |
  if [[ $COVERAGE = yes ]]; then
    wget https://phar.phpunit.de/phpcov.phar;
    chmod +x phpcov.phar;
    php phpcov.phar merge build/coverage --clover build/logs/backend/clover.xml
    bash <(curl -s https://codecov.io/bash) -F backend -s build/logs/backend -f "*.xml";
    bash <(curl -s https://codecov.io/bash) -F frontend -s build/logs/frontend -f "*.xml";
  fi;
