language: php

sudo: required

services:
- postgresql

cache:
  yarn: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.npm"

env:
  global:
  - TRAVIS_NODE_VERSION=8.9.4
  - COVERAGE=no
  - APP_ENV=test
  - DATABASE_URL=pgsql://postgres@localhost:5432/paroki

matrix:
  include:
  - php: '7.1'
    env: SIAP_SUITE=backend
  - php: '7.2'
    env: SIAP_SUITE=backend
  - php: '7.2'
    env: SIAP_SUITE=backend DATABASE_URL=mysql://root@localhost:3306/paroki
  - php: '7.2'
    env: SIAP_SUITE=frontend
  - php: '7.2'
    env: SIAP_SUITE=coverage
  - php: '7.2.3'
    env: SIAP_SUITE=deploy
    if: $TRAVIS_PULL_REQUEST="false"
    deploy:
      provider: heroku
      api_key:
        secure: "BEp6o5WqkkeUFmxQOgGeT4x1ADKZOAW6hhiXA6NRnjGb+s/XhREW8jpf7gCpDnBvuDYqpEz8Jq8VbfYE4z7NksNJsxh77P+OOsNaZdlDcIM1ikAiteaHtc88yAx3jXk/JO9lEpPefrjeXCvCjpJIFMcX5tGkuHEMOhcgUH1iXgDDIOixWhR8cz9/x/EGp4JxzjSHt1zS5SVJGknFrzA9/VffFIhhnlwgWE1zxSfdE06wtIYslAlucFZe4d8JP45phmqe5aSX3DGmdB1AoTACNfIAPOVHkINsdz79BHz37nWhHmA81N9weCM973m34hKWPsgPNEYWnnpKy8THsObzbr6Ekip6THx2XO6PO1INCkqV8wQLPkj/ya0o9N5Ok+mgp6ixpDM5QoQ2PYXJ5/Kmv2zReysdK9I3XGCDWuLBIjtXLnUoPFzIHd/7poX6DwW6dKNemPXQAk29KwQypw9tTYebLqUAufB3bjRZbmT4LZC7tQLAE+kSrIoaDl+zg2YlwBZeYCBRKnsoDdFvI6S+cyaOiNvZB3B+GhxKB1l41xosj9VbmRDzSVcsBIxv3MBBfGgZ8g9frFpoN4RQdsO38ijW20Lyd38AD+qpNVtcjgndTu2T7c/SRHndgefTddtN1FkG9bKSBMuWY8ZlQSmPQ0pSOAKFbJcrVy1c4tw3KEU="
      app:
        master: paroki-dev
      on:
        branch: master
      run:
        - bin/console doctrine:query:sql 'CREATE EXTENSION IF NOT EXISTS "uuid-ossp"'
        - bin/console doctrine:schema:drop --force
        - bin/console doctrine:schema:create
        - bin/console hautelook:fixtures:load -n

  allow_failures:
  - php: '7.2'
    env: SIAP_SUITE=coverage
  - php: '7.2.3'
    env: SIAP_SUITE=deploy

  fast_finish: true

before_install:
- etc/travis/before-install.sh

install:
- etc/travis/install.sh

script:
- etc/travis/script.sh


after_script:
- etc/travis/after-script.sh

