language: php

sudo: false

services:
- postgresql

cache:
  yarn: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.npm"

env:
  global:
  - TRAVIS_NODE_VERSION=8.9.4
  - COVERAGE=no
  - APP_ENV=test
  - DATABASE_URL=pgsql://postgres@localhost:5432/paroki

matrix:
  include:
  - php: '7.1'
  - php: '7.2'
  - php: '7.2'
    env: COVERAGE=yes
  - php: '7.2'
    env: DATABASE_URL=mysql://root@localhost:3306/paroki
  - php: 7.2.3
    env: DEPLOY=yes
    if: $TRAVIS_PULL_REQUEST="false"
    deploy:
      provider: heroku
      api_key:
        secure: "BEp6o5WqkkeUFmxQOgGeT4x1ADKZOAW6hhiXA6NRnjGb+s/XhREW8jpf7gCpDnBvuDYqpEz8Jq8VbfYE4z7NksNJsxh77P+OOsNaZdlDcIM1ikAiteaHtc88yAx3jXk/JO9lEpPefrjeXCvCjpJIFMcX5tGkuHEMOhcgUH1iXgDDIOixWhR8cz9/x/EGp4JxzjSHt1zS5SVJGknFrzA9/VffFIhhnlwgWE1zxSfdE06wtIYslAlucFZe4d8JP45phmqe5aSX3DGmdB1AoTACNfIAPOVHkINsdz79BHz37nWhHmA81N9weCM973m34hKWPsgPNEYWnnpKy8THsObzbr6Ekip6THx2XO6PO1INCkqV8wQLPkj/ya0o9N5Ok+mgp6ixpDM5QoQ2PYXJ5/Kmv2zReysdK9I3XGCDWuLBIjtXLnUoPFzIHd/7poX6DwW6dKNemPXQAk29KwQypw9tTYebLqUAufB3bjRZbmT4LZC7tQLAE+kSrIoaDl+zg2YlwBZeYCBRKnsoDdFvI6S+cyaOiNvZB3B+GhxKB1l41xosj9VbmRDzSVcsBIxv3MBBfGgZ8g9frFpoN4RQdsO38ijW20Lyd38AD+qpNVtcjgndTu2T7c/SRHndgefTddtN1FkG9bKSBMuWY8ZlQSmPQ0pSOAKFbJcrVy1c4tw3KEU="
      app:
        master: paroki-dev
      on:
        branch: master
      run:
        - bin/console doctrine:query:sql 'CREATE EXTENSION IF NOT EXISTS "uuid-ossp"'
        - bin/console doctrine:schema:drop --force
        - bin/console doctrine:schema:create
        - bin/console hautelook:fixtures:load -n

  allow_failures:
  - php: '7.2'
    env: COVERAGE=yes
  - php: 7.2.3
    env: DEPLOY=yes

  fast_finish: true

before_install:
- echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
- export PATH="$PATH:$HOME/.composer/vendor/bin"
- |
  if [[ $COVERAGE != yes ]]; then
    phpenv config-rm xdebug.ini || echo "xdebug not available";
  fi;
- |
  if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.1" ]]; then
    echo yes | pecl install apcu;
  else
    echo "extension = apcu.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini;
  fi;
- sudo apt-get -y install software-properties-common python-software-properties
- sudo -E apt-add-repository -y "ppa:ubuntu-toolchain-r/test"
- sudo apt update -y
- sudo apt-get -yq --no-install-suggests --no-install-recommends --force-yes install
  g++-4.9
- export CC=gcc-4.9
- export CXX=g++-4.9
- mkdir -p build/coverage/php

install:
- composer update --prefer-dist --no-progress --no-suggest --ansi
- bin/console doctrine:database:create -n --if-not-exists
- bin/console doctrine:schema:create -n
- bin/console siap:generate:key
- ls -lh var/
- ls -lh var/jwt
- bin/console doctrine:schema:update -n --force
- yarn install --dev
- yarn build

script:
- mkdir -p build/logs
- |
  if [[ $COVERAGE = yes  ]]; then
    ./vendor/bin/phpspec run --ansi -c etc/phpspec-coverage.yml;
    ./vendor/bin/simple-phpunit --coverage-php=build/coverage/php/phpunit.cov;
    ./vendor/bin/behat -p coverage;
    yarn test --coverage
  fi;
- if [[ $COVERAGE != yes ]]; then bin/phpunit; fi
- if [[ $COVERAGE != yes ]]; then ./vendor/bin/phpspec run -fdot; fi
- if [[ $COVERAGE != yes ]]; then ./vendor/bin/behat -fprogress; fi
- if [[ $COVERAGE != yes ]]; then yarn test; fi

after_script:
- |
  if [[ $COVERAGE = yes ]]; then
    wget https://phar.phpunit.de/phpcov.phar;
    chmod +x phpcov.phar;
    php phpcov.phar merge build/coverage --clover build/logs/backend/clover.xml
    bash <(curl -s https://codecov.io/bash) -F backend -s build/logs/backend -f "*.xml";
    bash <(curl -s https://codecov.io/bash) -F frontend -s build/logs/frontend -f "*.xml";
  fi;
