default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: Paroki\Core\Kernel

coverage:
    suites:
    suites:
        default:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'
                - Paroki\Behat\Contexts\CoverageContext
