version: '3'

services:
    backend:
        container_name: paroki.backend
        build:
            context: ./docker/backend/nginx
        depends_on:
            - php
        ports:
            - "8080:80"
        volumes:
            - ./backend/public:/srv/backend/public:ro

    php:
        container_name: paroki.php
        build:
            context: ./docker/backend/php
        depends_on:
            - db
        env_file:
            - ./backend/.env
        # Comment out these volumes in production
        volumes:
            - ./backend:/srv/backend:ro
            # If you develop on Linux, comment out the following volumes to just use bind-mounted project directory from host
            - /srv/backend/var/
            #- /srv/backend/var/cache/
            #- /srv/backend/var/logs/
            #- /srv/backend/var/sessions/

    db:
        container_name: paroki.db
        # In production, you may want to use a managed database service
        image: postgres:9.6-alpine
        environment:
            - POSTGRES_DB=paroki
            - POSTGRES_USER=paroki
            # You should definitely change the password in production
            - POSTGRES_PASSWORD=paroki
        volumes:
            # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
           - ./docker/data/db:/var/lib/postgresql/data:rw
        ports:
            - "5432:5432"

    frontend:
        container_name: paroki.frontend
        # Use a static website hosting service in production
        # See https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#deployment
        build:
            context: ./docker/frontend
        env_file:
            - ./frontend/.env
        volumes:
            - ./frontend:/usr/src/frontend:ro
            #- /usr/src/frontend/node_modules
        ports:
            - "80:3000"
