formatter.name: dot

suites:
    core:
        namespace: Paroki\Core
        psr4_prefix: Paroki\Core
        spec_path: src/Core
        src_path: src/Core
        spec_prefix: Spec
    resource:
        namespace: Paroki\Resource
        psr4_prefix: Paroki\Resource
        spec_path: src/Resource
        src_path: src/Resource
        spec_prefix: Spec
    security:
        namespace: Paroki\Security
        psr4_prefix: Paroki\Security
        spec_path: src/Security
        src_path: src/Security
        spec_prefix: Spec
